@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Mukta:wght@300&family=Roboto:ital,wght@1,100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:'Mukta',sans-serif ;
}
 form{
  width:fit-content;
  padding:10px;
  margin-left: 100px;
}
form input{
  width:700px;
  height: 30px;
  font-size: 18px;
  border:1px solid rgba(0, 0, 0,.4);
  outline: none;
}
form button{
  padding:0px 10px;
 border:1px solid rgba(0, 0, 0,.4);
 outline: none;
 font-size: 18px;
 color:#14abac;
 background: white;
}
.form-table{
  background: white;
  display: block;
  width:800px;
  height:250px;
  margin-left: 100px;
  overflow-y:scroll;
}
.form-table::-webkit-scrollbar{
  width:2px;
}
.form-table table{
  width:800px;
  text-align: center;
}
table th, table td{
  padding:4px 10px;
}
table thead{
  background: #14abac;
  color:white;
  width: 100%;
}