<body>
	<section class="container">
		<a routerLink="/navbar/pperson">Add Server</a>
		<div class="workers-form">
			<p>Add Purchase Details</p>
			<form method="post" [formGroup]="formdata" (ngSubmit)="addpdetails(formdata.value)">
				<div class="form-group">
					<label>PurchasePersonId</label>
					<input type="text" name="pdid" formControlName="pdid" autocomplete="off" required>		
				</div>
				<div class="form-group">
					<label>Item Name</label>
					<input type="text" name="itemname" formControlName="itemname" autocomplete="off" required>			
				</div>
				<div class="form-group">
					<label>Quantity</label>
					<input type="text" name="quantity" formControlName="quantity" autocomplete="off" required>			
				</div>
				<div class="form-group">
					<label>Amount</label>
					<input type="text" name="cost" formControlName="cost" autocomplete="off" required>	
				</div>
				<div class="form-group">
					<label>Date</label>
					<input type="date" name="date" formControlName="date" autocomplete="off" required>
				</div>
				<button type="submit">Submit</button>
			</form>
		</div>
	</section>
</body>