<!DOCTYPE html>
<html>
<head>
	<title>poultry management system</title>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
	<section class="container">
		<a routerLink="/navbar/addstaff">AddStaff</a>
		<form method="post" [formGroup]="formdata" (ngSubmit)="searchform(formdata.value)">
			<input type="search" name="workersearch" formControlName="workersearch" placeholder="Search here ....">
			<button><i class="fas fa-search"></i></button>
		</form>
		<div class="table-form">
			<div *ngIf="direct==true">
				<table>
					<thead>
					<tr>
						<th>Worker ID</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Salary</th>
						<th>Working Type</th>
					</tr>
					</thead>
					<tbody>
						<tr *ngFor="let worker of workers$">
							<td>{{worker.wid}}</td>
							<td>{{worker.name}}</td>
							<td>{{worker.phone}}</td>
							<td>{{worker.salary}}</td>
							<td>{{worker.worktype}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div *ngIf="direct==false">
				<div *ngIf="submit==true">
					<table>
						<thead>
						<tr>
							<th>Worker ID</th>
							<th>Name</th>
							<th>Phone</th>
							<th>Salary</th>
							<th>Working Type</th>
						</tr>
						</thead>
						<tbody>
							<tr *ngFor="let worker of workers1$">
								<td>{{worker.wid}}</td>
								<td>{{worker.name}}</td>
								<td>{{worker.phone}}</td>
								<td>{{worker.salary}}</td>
								<td>{{worker.worktype}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div *ngIf="submit==false">
					<p>No rows are exist</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
<router-outlet></router-outlet>