@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Mukta:wght@300&family=Roboto:ital,wght@1,100&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family:'Mukta',sans-serif ;
}
.container{
  background-image:url("../../../assets/sale.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:550px;
  padding-bottom: 30px;
  overflow-x: hidden;
  padding-top: 15px;
  align-content: center;
  align-items: center;
  padding-left: 200px;

}
.container a{
	font-size: 25px;
	color:white;
	background:indianred;
	float: right;
	margin-right: 50px;
	padding:5px;
	border-radius: 15px;
}
.workers-form{
  border:1px solid rgba(0, 0, 0,0.2);
  border-radius: 5px;
  background-color: white;
  height: 450px;
  margin-top: 10px;
  width:fit-content;
  width: 400px;
  border-left:5px solid indianred;
}
.workers-form p{
	font-size: 20px;
	padding:7px;
	text-align: center;
	font-family: 'Mukta',sans-serif;
	margin-bottom:20px;
	color:white;
	background: #14abac;
}
form{
	margin:5px 10px;
	padding: 5px;
}
.form-group{
	margin:5px 5px 5px 0px;
	padding: 4px;
	display: flex;
	flex-direction: column;
}
.form-group label{
	font-size: 18px;
}
.form-group input{
	background: transparent;
	width:100%;
	height: 30px;
	padding:5px;
	font-size: 18px;
	border-radius: 5px;
	border:none;
	border-bottom:1px solid rgba(0, 0, 0,0.4);
	outline: none;
}
span::before{
	content: '';
	position: absolute;
	display: block;
	width:0%;
	height:2px;
	margin-top: -2px;
	background-color:#14acab;
}
.form-group input:focus ~ span::before,.form-group input:valid span::before{
	width:360px;
	transition: 0.3s ease-in;
}
button{
	position: relative;
	margin-top: 15px;
	text-align: center;
	justify-content: center;
	padding: 7px;
	outline: none;
	width:150px;
	font-size: 18px;
	border-radius: 6px;
	background: transparent;
	color:#14abac;
	border:2px solid #14abac;
}
button::before{
	content:'';
	display: block;
	position: absolute;
	top:0%;
	left: 0%;
	height: 100%;
	width: 0%;
	border-radius: 5px;
	background:linear-gradient(to left, #14abac,#14abac);
	transition: 0.5s inherit;
}
button:hover{
	color:white;
	z-index: 1;
}
button:hover::before{
	width: 100%;
	transition: 0.3s ease-in-out;
	z-index:-1;
}