@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Mukta:wght@300&family=Roboto:ital,wght@1,100&display=swap');
*{
	margin:0;
	padding:0;
	font-family: 'Mukta', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
}
.container{
	width: 100%;
	text-align: center;
	padding:10px;
	background:#4cb6b8;
	top:0;
	left: 0;
	right: 0;
	border-bottom: 3px solid rgba(0, 0, 0,0.2);
}
.container .header{
	padding:3px;
}
.header h2{
	font-size:40px;
	color:#d1ebfe;
}
.container1{
	display: flex;
	width: 100%;
	background-color:#4cb6b8;
	left: 0;
	right: 0;
}
.navbar{
	background-color:#4cb6b8;
	padding:10px;
	height: 550px;
	width: fit-content;
}
.navbar ul{
	padding:5px;
	list-style-type: none;
}
ul li{
	padding:10px;
	width: 100%;
	color: white;
}
ul li:hover{
	background-color:white;
	border-radius: 5px;
}
ul li:hover a, ul li:hover i{
	color:#14abae;
}
ul li i{
	padding-right: 5px;
	font-size: 22px;
}
li a{
	font-size: 20px;
	color: white;
}
li a:focus{
	border-bottom: 1px solid rgba(0, 0, 0,0.2);
}
.route-link{
	width:82.6%;
	overflow-x: hidden;
}