body{
	overflow-x: hidden;
}
form{
	margin:20px 100px;
	padding: 10px;
}
form input{
	width:90%;
	height: 35px;
	padding:10px;
	font-size: 18px;
	border-radius: 4px;
	border:1px solid rgba(0, 0, 0,0.4);
	outline: none;
}
form input:focus{
	outline: none;
	box-shadow: 0px 0px 1px 1px rgba(0,100,250,0.5);
}
form button{
	width:5%;
	padding:6px;
	font-size: 19px;
	outline: none;
	border:1px solid rgba(0, 0, 0,0.4);
	border-radius: 4px;

}
table{
	width:100%;
	padding:10px;
	border:1px solid rgba(0, 0, 0,o.3);
	background: #ddd;
	margin: 50px 0px;
	height: 50px;
	overflow: scroll;
}
tr{
	padding:5px;
	border-bottom: 1px solid rgba(0, 0, 0,0.4);
}
thead tr{
	background: #14abac;
	color: #fff;
}
th,td{
	padding:10px 50px;
}
tr:nth-of-type(even){
	background:#fff;
}