@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Mukta:wght@300&family=Roboto:ital,wght@1,100&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family:'Roboto',sans-serif ;
}
.container{
  background-image:url("../../../assets/sales.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:550px;
  padding-bottom: 30px;
  overflow-x: hidden;
  padding-top: 15px;
  align-content: center;
  align-items: center;
  padding-left: 200px;

}
.container a{
	font-size: 18px;
	color:white;
	background: #14abac;
	float: right;
	margin-right: 50px;
	padding:5px;
	border-radius: 15px;
}
.workers-form{
  padding:10px ;
  border:1px solid rgba(0, 0, 0,0.2);
  border-radius: 5px;
  background-color: white;
  height: 420px;
  margin-top: 20px;
  width: fit-content;
  border-left:5px solid lightgreen;
  border-top:5px solid cyan;
}
.workers-form p{
	margin-top: 5px;
	margin-left: 10px;
	font-size: 20px;
	font-family: 'Mukta',sans-serif;
	margin-bottom: 20px;
	color:darkcyan;
}
form{
	margin:10px;
	padding: 5px;
	width: 450px;
}
.form-group{
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin:14px 0px;
}
.form-group label{
	margin-right: ;
}
.form-group input{
	width: 300px;
	height: 30px;
	border-radius: 5px;
	border:1px solid rgba(0, 0, 0,0.4);
	outline: none;
	padding:5px;
}
.form-group input:focus{
	box-shadow: inset 0px 0px 1px 2px rgba(0, 100,200,.3);
}
button{
	position: relative;
	margin-top: 30px;
	text-align: center;
	justify-content: center;
	padding:8px 10px;
	outline: none;
	width:150px;
	font-size: 18px;
	border-radius:7px;
	background: transparent;
	color:#14abac;
	border:2px solid #14abac;
}
button::before{
	content:'';
	display: block;
	position: absolute;
	top:0%;
	left: 0%;
	height: 100%;
	width: 0%;
	border-radius:5px;
	background:linear-gradient(to left,#ab14ac,#14abac);
	transition: 0.5s inherit;
}
button:hover{
	color:white;
	z-index: 1;
}
button:hover::before{
	width: 100%;
	transition: 0.3s ease-in-out;
	z-index:-1;
}